.toc-with-header ul li:first-child {
    font-weight: bold;
}

div.sidebar-tree .toctree-l1:first-child>.reference {
    font-weight: bold;
}

div.sidebar-tree ul {
    border-bottom: 1px solid blue;
    padding: 1em 0;
}